{% extends 'shop/base.html' %} {% load static %} {% block content %}
<script type="module" src="{% static 'shop/js/basket.js' %}"></script>
<div id="basket_container" class="container text-secondary">
</div>

<div id="order_form_div" >
    <h2 class="text-secondary">Оформлення Замовлення</h2>
    <form class="text-secondary" action="/basket/" method="post" id="customer_data">
        {% csrf_token %}
        {{form.as_p}}
        <input id="basket_data" type="hidden" name="basket_data" value="{}">
        <button type="submit" class="btn btn-success">Оформити</button>
    </form>
</div>
{% endblock content %}
